*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
button{background: transparent; outline: none; border: 0;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/* -------------------------------------------------- */

/* font-family: 'Exo 2', sans-serif;
font-family: 'PT Sans', sans-serif; */

.empty__block{
	position: absolute;
	background-color: #0B7572;
	top: 0;
	right: 0;
	height: 787px;
	width: 42%;
	z-index: -1;
}

.wrapper{
	max-width: 1280px;
	padding: 0 20px;
	margin: 0 auto;
	padding-bottom: 100px;
}

header{
	padding-top: 110px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 67px;
}

.image{
	width: 65%;
	display: flex;
	align-self: center;
	justify-content: center;
	img{
		width: 100%;
	}
}

.content__title{
	padding-top: 80px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 600;
	font-size: 52px;
	line-height: 125%;	
	color: #363738;
	padding-bottom: 40px;
}

.content__text{
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 150%;
	color: #6B6B6C;
	max-width: 525px;
	padding-bottom: 40px;
}

.content {
	padding-right: 20px;
	a{
		font-family: 'PT Sans', sans-serif;	
		font-weight: bold;
		font-size: 16px;
		line-height: 150%;
		color: #363738;
		transition: 0.2s;
		&:hover{
			letter-spacing: 2px;
			&::after{
				background-color: #363738;
				width: 124px;
			}
		}
		&::after{
			content: '';
			display: block;
			width: 104px;
			height: 2px;
			background-color: #FFCE50;
			transition: 0.2s;
		}
	}
}

.image_tablet{
	display: none;
}

.about{
	display: flex;
	justify-content: space-between;
	padding: 40px 0;
	margin-top: 40px;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
	border-radius: 20px;

	&-icon{
		border-right: 1px solid #D7D7DD;
		padding-left: 5%;
		padding-right: 9%;
		img{
			padding-bottom: 24px;
		}
		&__title{
			font-family: 'Exo 2', sans-serif;
			font-weight: 600;
			font-size: 20px;
			line-height: 135%;
			color: #363738;
			width: 95%;
			padding-bottom: 16px;
		}
		&__text{
			font-family: 'PT Sans', sans-serif;	
			font-weight: normal;
			font-size: 16px;
			line-height: 150%;
			color: #6B6B6C;
			width: 90%;
		}
	}
}

@media (max-width: 768px){
	.wrapper{
		padding: 0 40px;
		padding-bottom: 50px;
	}
	header{
		flex-direction: column;
		padding-top: 0;
	}
	.empty__block{
		width: 23%;
	}
	.content__title{
		padding-top: 90px;
	}
	.content__text{
		padding-bottom: 60px;
	}
	.image{
		display: none;
		padding-top: 56px;
		width: 100%;
		img{
			height: 100%;
			object-fit: cover;
			border-radius: 15px 15px 0 15px;
		}
	}
	.image_tablet{
		display: flex;
	}
	.content__text{
		width: 80%;
	}
	.about{
		padding: 0;
		flex-direction: column;
		box-shadow: none;
		padding-right: 0;
		border-radius: 0;
		&-icon{
			position: relative;
			border-left: none;
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
			border-radius: 20px;
			width: 100%;
			margin-bottom: 16px;
			flex-direction: column;
			img{
				position: absolute;
				left: 32px;
				top: 20%;
			}
		}
		&-icon__title{
			margin-top: 35px;
			margin-left: 130px;
			width: 65%;
		}
		&-icon__text{
			margin-bottom: 47px;
			margin-left: 130px;
			width: 65%;
		}
	}
	header{
		margin-bottom: 0;
	}
}

@media (max-width: 376px){
	.wrapper{
		padding: 75px 15px ;
	}
	.empty__block{
		width: 100%;
	}
	.content{
		padding-right: 0;
		padding-bottom: 0;
	}
	.content__title{
		padding-top: 0;
		font-size: 28px;
		line-height: 125%;
		color: white;
	}
	.content__text{
		font-weight: normal;
		font-size: 15px;
		line-height: 150%;
		color: white;
		width: 100%;
		padding-bottom: 32px;
		span{
			display: none;
		}
	}
	.content a{
		color: white;
		padding-bottom: 0;
	}
	.image_tablet img{
		display: none;
	}
	.image_tablet{
		padding: 0;
	}
	.image{
		display: block;
	}
	.about{
		margin-top: 56px;	
	}
	.about-icon{
		padding: 24px 27px 16px 32px;
		img{
			position: initial;
		}
		&__title{
			width: 20%;
			margin-top: 0;
			margin-left: 0;
			width: 80%;
		}
		&__text{
			font-size: 15px;
			line-height: 150%;
			margin-left: 0;
			width: 101%;
			margin-bottom: 0;
		}
	}
	.about{
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
		border-radius: 15px;
		&-icon{
			border: none;
			box-shadow: none;
			padding-bottom: 0;
			margin-bottom: 0;
		}
		&-icon_last{
			padding-bottom: 24px;
		}
	}
}